@import url("https://fonts.googleapis.com/css?family=Poppins|Ubuntu&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font-family: 'Ubuntu', sans-serif;
}

.box {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.content-wrap {
  margin-top: 75px;
  padding-bottom: 30px;
  padding: 0 60px;
  min-height: 198px;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  -webkit-box-shadow: 0 0 25px 0 rgba(20, 27, 202, 0.17);
          box-shadow: 0 0 25px 0 rgba(20, 27, 202, 0.17);
}

.content-wrap .icon {
  margin-bottom: -21px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: top;
}

.content-wrap:hover h4,
.content-wrap:hover p {
  color: #fff;
}

.item-list1:hover {
  -webkit-box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.05);
          box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.05);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #fb0054 0%, #f55b2a 100%);
}

.item-list2:hover {
  -webkit-box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.05);
          box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.05);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #34b5bf 0%, #210c59 100%);
}

.item-list3:hover {
  -webkit-box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.05);
          box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.05);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #3615e7 0%, #44a2f6 100%);
}

.item-list4:hover {
  -webkit-box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.05);
          box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.05);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #fc6a0e 0%, #fdb642 100%);
}

.item-list5:hover {
  -webkit-box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.05);
          box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.05);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #8d40fb 0%, #5a57fb 100%);
}

.item-list6:hover {
  -webkit-box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.05);
          box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.05);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #27b88d 0%, #22dd73 100%);
}

/*  Footer css */
.element-btn .element-fill-btn {
  background-color: #27a2d3;
  border: 0;
  color: #fff;
  padding: 13px 5px;
  font-size: 16px;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  width: 252px;
  margin: 0 auto;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0px 10px 50px -10px #ff0a78;
          box-shadow: 0px 10px 50px -10px #ff0a78;
}

.fill-btn {
  background-color: #24c7d3;
  border: 0;
  color: #fff;
  padding: 13px 5px;
  font-size: 16px;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  width: 252px;
  margin: 0 auto;
  border-radius: 25px;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.fill-btn:hover,
.element-btn .element-fill-btn:hover {
  background-color: #201f1f;
  -webkit-box-shadow: 0px 10px 50px -10px #201f1f;
          box-shadow: 0px 10px 50px -10px #201f1f;
}

.footer {
  position: relative;
  background-color: #031625;
  padding: 50px 0px;
}

.footerBg {
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0.13;
  background: url() no-repeat top center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.form-Box input[type="text"],
.form-Box input[type="email"],
.form-Box input[type="passowrd"],
.form-Box textarea {
  width: 100%;
  height: 50px;
  border: 1px solid #737373;
  border-radius: 25px;
  background-color: transparent;
  padding: 5px 25px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #737373;
  font-style: italic;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}

.form-Box textarea {
  height: 113px;
  padding: 15px 25px;
  resize: none;
}

.form-Box .b_effect:focus,
.subscribe form input:focus {
  border-color: #24c7d3;
}

.form-Box .fill-btn {
  position: static;
  transform: translate(0%, 0);
  -webkit-transform: translate(0%, 0);
  -moz-transform: translate(0%, 0);
  -ms-transform: translate(0%, 0);
  width: 184px;
}

.form-Box .fill-btn:hover,
.subscribe form .fill-btn:hover {
  background-color: #24c7d3;
  color: #201f1f;
  -webkit-box-shadow: 0px 10px 50px -10px #ffe402;
          box-shadow: 0px 10px 50px -10px #ffe402;
}

.fTitle {
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
  font-style: italic;
  margin-bottom: 20px;
}

.fTitle span {
  color: #259ece;
}

.contact-address ul li,
.contact-address ul li a {
  color: #737373;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 15px;
  line-height: 32px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.contact-address {
  padding: 0 15%;
}

.contact-address ul li i {
  margin-right: 15px;
  display: inline-block;
  float: left;
  line-height: 32px;
}

.contact-address ul li span {
  display: table;
}

.contact-address ul li a:hover {
  color: #07e3f2;
}

.subscribe form {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 60px;
}

.subscribe form input {
  width: 100%;
  height: 50px;
  border: 1px solid #737373;
  border-radius: 25px;
  background-color: transparent;
  padding: 5px 215px 5px 25px;
  font-size: 14px;
  color: #737373;
  font-style: italic;
}

.subscribe form .fill-btn {
  bottom: auto;
  top: 0;
  right: 0;
  left: auto;
  transform: translate(0%, 0);
  -webkit-transform: translate(0%, 0);
  -moz-transform: translate(0%, 0);
  -ms-transform: translate(0%, 0);
  width: 209px;
}

.social-icons ul li {
  display: inline-block;
  float: left;
  color: #fff;
  text-align: center;
  line-height: 43px;
  position: relative;
  width: 43px;
  height: 43px;
  margin-right: 28px;
}

.social-icons ul li a {
  color: #fff;
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 16px;
}

.social-icons ul li:before {
  content: "";
  width: 43px;
  height: 43px;
  display: inline-block;
  position: absolute;
  border: 1px solid #24c7d3;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.social-icons ul li:last-child {
  margin: 0;
}

.social-icons ul li:hover:before {
  background: #05eeee;
}

/* Copyright css */
.copyright {
  padding: 51.5px 0;
  text-align: center;
}

.copyright h6 {
  font-size: 14px;
  font-style: italic;
  color: #737373;
}

.copyright h6 a {
  color: #24c7d3;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.copyright h6 a:hover {
  color: #201f1f;
}
/*# sourceMappingURL=recources.css.map */