
  h2 {
      
      text-align: center;
      text-transform: uppercase;
      font-family:  sans-serif;
      font-weight: bold;
      position: relative;
      margin: 30px 0 60px;
  }
  h2::after {
      content: "";
      width: 100px;
      position: absolute;
      margin: 0 auto;
      height: 3px;
      background: #8fbc54;
      left: 0;
      right: 0;
      bottom: -10px;
  }
  .col-center {
      margin: 0 auto;
      float: none !important;
  }
  .carousel {
      padding: 0 0px;
  }
  .carousel .carousel-item {
      color: #999;
      font-size: 14px;
      text-align: center;
      overflow: hidden;
      min-height: 290px;
  }
  .carousel .carousel-item .img-box {
      width: 800px;
      height: 500px;
      margin: 0 auto;
      padding: 5px;
      border: 1px solid #ddd;
      border-radius: 3%;
  }
  .carousel .img-box img {
      width: 100%;
      height: 100%;
      display: block;
      border-radius: 3%;
  }
  .carousel .testimonial {
      padding: 30px 0 10px;
  }
  .carousel .overview {	
      font-style: italic;
  }
  .carousel .overview b {
      text-transform: uppercase;
      color: #7AA641;
  }
  .carousel-control-prev, .carousel-control-next {
      width: 40px;
      height: 40px;
      margin-top: -20px;
      top: 50%;
      background: none;
  }
  .carousel-control-prev i, .carousel-control-next i {
      font-size: 68px;
      line-height: 42px;
      position: absolute;
      display: inline-block;
      color: rgba(0, 0, 0, 0.8);
      text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
  }
  .carousel-indicators {
      bottom: -40px;
  }
  .carousel-indicators li, .carousel-indicators li.active {
      width: 12px;
      height: 12px;
      margin: 1px 3px;
      border-radius: 50%;
      border: none;
  }
  .carousel-indicators li {	
      background: #999;
      border-color: transparent;
      box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
  }
  .carousel-indicators li.active {	
      background: #555;		
      box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
  }
/*..coursesel above.......................*/

/*---second coursel above*/
  h1{
    font-family: 'Droid Sans', sans-serif;
  }
  p{
    font-family: sans-serif;
    
  }

#mybttn {
  display: block;
  position:fixed;
  bottom: 20px;
  right: 50px;
  z-index: 99;
  font-size: 20px;
  border: none;
  outline: none;
  background: linear-gradient(141deg, #042170 75%, #05257e 50%, #7396f5 10%);
  color:white;
  cursor: pointer;
  padding: 25px;
  border-radius: 80px;
  
}
#mybttn:hover {
  background: linear-gradient(141deg, #0fb8ad 75%, #1fc8db 50%, #2cb5e8 0%);
}

/* -----*/
.myBtn {
 
  bottom: 20px;
  right: 50px;
  z-index: 99;
  font-size: 12px;
  border: none;
  outline: none;
  background-color: rgb(160, 158, 158);
  color:#000;
  cursor: pointer;
  padding: 5px;
  border-radius: 60px;
  margin-top: 2%;
  margin-left: 10%;
}

.myBtn:hover {
  background: linear-gradient(141deg, #0fb8ad 75%, #1fc8db 50%, #2cb5e8 0%);
}


.button {
  border-radius: 40px;
  background-color: transparent;
  border: white;
  border-style: inset;
  color: white;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
 
  
  
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}




















/* about us and vision below */

#about{
  background-color: rgb(27, 26, 26);
  
  padding-top:5%;
  
}
.aboutustext{
  font-family: serif;
  color: white;
  text-align: center;
  font-size: 1.2em;
  padding-bottom:5%;
}
.aboutheading{
  text-align: center;
  color:white;
  font-size: 1.2em;
}




/*''''''''''''''*/
.blockquote-custom {
  position: relative;
  font-size: 1.1rem;
 }
  
 .blockquote-custom-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25px;
  left: 50px;
 }
  
  
 






/*----*/
.qo{
  width: 80%;
  margin-left: 10%;
  margin-right: 10% ;
  font-size: 1.5em;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: justify;
  color: white;
}
.qo1{
  width: 80%;
  margin-left: 10%;
  margin-right: 10% ;
  padding-bottom: 5%;
  font-size: 1.5em;
  align-items: center;
  padding-bottom: 5%;
   color: white;
  
}
.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}

body {
  
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #212112;

  overflow-x: hidden;
  transition: all 200ms linear;
}

::selection {
  color: #fff;
  background-color: #06c5ff;
}

::-moz-selection {
  color: #fff;
  background-color: #06c2fc;
}


/* #Navigation below
================================================== */

.start-header {
  opacity: 0.5;
  transform: translateY(0);
  padding: 20px 0;
  box-shadow: 0 10px 30px 0 rgba(3, 156, 245, 0.15);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.start-header.scroll-on {
  box-shadow: 0 5px 10px 0 rgba(0, 162, 255, 0.15);
  padding: 10px 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.start-header.scroll-on .navbar-brand img {
  height: 24px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navigation-wrap {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navbar {
  padding: 0;
}

.navbar-brand img {
  height: 28px;
  width: auto;
  display: block;
  filter: brightness(10%);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navbar-toggler {
  float: right;
  border: none;
  padding-right: 0;
}

.navbar-toggler:active,
.navbar-toggler:focus {
  outline: none;
}

.navbar-light .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 1px solid #000;
  transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 1px;
  background-color: #000;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
  top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

.nav-link {
  color: #212121 !important;
  font-weight: 500;
  transition: all 200ms linear;
}

.nav-item:hover .nav-link {
  color: #06a2fc !important;
}

.nav-item.active .nav-link {
  color: rgb(255, 254, 254) !important;
}

.nav-link {
  position: relative;
  padding: 5px 0 !important;
  display: inline-block;
}

.nav-item:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  content: '';
  background-color: skyblue;
  opacity: 0;
  transition: all 200ms linear;
}

.nav-item:hover:after {
  bottom: 0;
  opacity: 1;
}

.nav-item.active:hover:after {
  opacity: 0;
}

.nav-item {
  position: relative;
  transition: all 200ms linear;
}

/* #Primary style
================================================== */

.bg-light {
  background-color: #fff !important;
  transition: all 200ms linear;
}

.section {
  position: relative;
  width: 100%;
  display: block;
}

.full-height {
  height: 100vh;
}

.over-hide {
  overflow: hidden;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: 40px;
  transform: translateY(-50%);
  z-index: 20;
}

h1 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  color: #fafafa;
  text-align: center;
}

p {
  text-align: center;
  margin: 0;
  padding-top: 10px;
  opacity: 1;
  transform: translate(0);
  transition: all 300ms linear;
  transition-delay: 1700ms;
}

body.hero-anime p {
  opacity: 0;
  transform: translateY(40px);
  transition-delay: 1700ms;
}

h1 span {
  display: inline-block;
  transition: all 300ms linear;
  opacity: 1;
  transform: translate(0);
}

body.hero-anime h1 span:nth-child(1) {
  opacity: 0;
  transform: translateY(-20px);
}

body.hero-anime h1 span:nth-child(2) {
  opacity: 0;
  transform: translateY(-30px);
}

body.hero-anime h1 span:nth-child(3) {
  opacity: 0;
  transform: translateY(-50px);
}

body.hero-anime h1 span:nth-child(4) {
  opacity: 0;
  transform: translateY(-10px);
}

body.hero-anime h1 span:nth-child(5) {
  opacity: 0;
  transform: translateY(-50px);
}

body.hero-anime h1 span:nth-child(6) {
  opacity: 0;
  transform: translateY(-20px);
}

body.hero-anime h1 span:nth-child(7) {
  opacity: 0;
  transform: translateY(-40px);
}

body.hero-anime h1 span:nth-child(8) {
  opacity: 0;
  transform: translateY(-10px);
}

body.hero-anime h1 span:nth-child(9) {
  opacity: 0;
  transform: translateY(-30px);
}

body.hero-anime h1 span:nth-child(10) {
  opacity: 0;
  transform: translateY(-20px);
}

h1 span:nth-child(1) {
  transition-delay: 1000ms;
}

h1 span:nth-child(2) {
  transition-delay: 700ms;
}

h1 span:nth-child(3) {
  transition-delay: 900ms;
}

h1 span:nth-child(4) {
  transition-delay: 800ms;
}

h1 span:nth-child(5) {
  transition-delay: 1000ms;
}

h1 span:nth-child(6) {
  transition-delay: 700ms;
}

h1 span:nth-child(7) {
  transition-delay: 900ms;
}

h1 span:nth-child(8) {
  transition-delay: 800ms;
}

h1 span:nth-child(9) {
  transition-delay: 600ms;
}

h1 span:nth-child(10) {
  transition-delay: 700ms;
}
h1 span:nth-child(11) {
  transition-delay: 600ms;
}
h1 span:nth-child(12) {
  transition-delay: 800ms;
}
h1 span:nth-child(13) {
  transition-delay: 1000ms;
}
h1 span:nth-child(14) {
  transition-delay: 700ms;
}

body.hero-anime h1 span:nth-child(11) {
  opacity: 0;
  transform: translateY(30px);
}

body.hero-anime h1 span:nth-child(12) {
  opacity: 0;
  transform: translateY(50px);
}

body.hero-anime h1 span:nth-child(13) {
  opacity: 0;
  transform: translateY(20px);
}

body.hero-anime h1 span:nth-child(14) {
  opacity: 0;
  transform: translateY(30px);
}

body.hero-anime h1 span:nth-child(15) {
  opacity: 0;
  transform: translateY(50px);
}

h1 span:nth-child(11) {
  transition-delay: 1300ms;
}

h1 span:nth-child(12) {
  transition-delay: 1500ms;
}

h1 span:nth-child(13) {
  transition-delay: 1400ms;
}

h1 span:nth-child(14) {
  transition-delay: 1200ms;
}

h1 span:nth-child(15) {
  transition-delay: 1450ms;
}

#switch,
#circle {
  cursor: pointer;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

#switch {
  width: 60px;
  height: 8px;
  border: 2px solid skyblue;
  border-radius: 27px;
  background: #000;
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
  opacity: 1;
  transform: translate(0);
  transition: all 300ms linear;
  transition-delay: 1900ms;
}

body.hero-anime #switch {
  opacity: 0;
  transform: translateY(40px);
  transition-delay: 1900ms;
}

#circle {
  position: absolute;
  top: -11px;
  left: -13px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #000;
}

.switched {
  border-color: #000 !important;
  background: #03cbfd !important;
}

.switched #circle {
  left: 43px;
  box-shadow: 0 4px 4px rgba(26, 53, 71, 0.25), 0 0 0 1px rgba(26, 53, 71, 0.07);
  background: #fff;
}

.nav-item .dropdown-menu {
  transform: translate3d(0, 10px, 0);
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  display: block;
  padding: 0;
  margin: 0;
  transition: all 200ms linear;
}

.nav-item.show .dropdown-menu {
  opacity: 1;
  visibility: visible;
  max-height: 999px;
  transform: translate3d(0, 0px, 0);
}

.dropdown-menu {
  padding: 10px !important;
  margin: 0;
  font-size: 13px;
  letter-spacing: 1px;
  color: #212121;
  background-color: #fcfaff;
  border: none;
  border-radius: 3px;
  box-shadow: 0 5px 10px 0 rgba(3, 154, 241, 0.15);
  transition: all 200ms linear;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-item {
  padding: 3px 15px;
  color: #000;
  border-radius: 2px;
  transition: all 200ms linear;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #fff;
  background-color: rgba(7, 196, 253, 0.6);
}

body.dark {
  color: #fff;
  background-color: #1f2029;
}

body.dark .navbar-brand img {
  filter: brightness(100%);
}

body.dark h1 {
  color: #fff;
}

body.dark h1 span {
  transition-delay: 0ms !important;
}

body.dark p {
  color: #fff;
  transition-delay: 0ms !important;
}

body.dark .bg-light {
  background-color: #14151a !important;
}

body.dark .start-header {
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}

body.dark .start-header.scroll-on {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}

body.dark .nav-link {
  color: #fff !important;
}

body.dark .nav-item.active .nav-link {
  color: #999 !important;
}

body.dark .dropdown-menu {
  color: #fff;
  background-color: #1f2029;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}

body.dark .dropdown-item {
  color: #fff;
}

body.dark .navbar-light .navbar-toggler-icon {
  border-bottom: 1px solid #fff;
}

body.dark .navbar-light .navbar-toggler-icon:after,
body.dark .navbar-light .navbar-toggler-icon:before {
  background-color: #fff;
}

body.dark .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}



/* #Media
================================================== */

@media (max-width: 767px) {
  h1 {
    font-size: 38px;
  }

  .nav-item:after {
    display: none;
  }

  .nav-item::before {
    position: absolute;
    display: block;
    top: 15px;
    left: 0;
    width: 11px;
    height: 1px;
    content: "";
    border: none;
    background-color: #000;

  }

  .dropdown-toggle::after {
    position: absolute;
    display: block;
    top: 10px;
    left: -23px;
    width: 1px;
    height: 11px;
    content: "";
    border: none;
    background-color: #000;

    transition: all 200ms linear;
  }

  .dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(90deg);
    opacity: 0;
  }

  .dropdown-menu {
    padding: 0 !important;
    background-color: transparent;
    box-shadow: none;
    transition: all 200ms linear;
  }

  .dropdown-toggle[aria-expanded="true"]+.dropdown-menu {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
  }

  body.dark .nav-item::before {
    background-color: #fff;
  }

  body.dark .dropdown-toggle::after {
    background-color: #fff;
  }

  body.dark .dropdown-menu {
    background-color: transparent;
    box-shadow: none;
  }
}

/* #Link to page
================================================== */

.logo {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: block;
  z-index: 100;
  transition: all 250ms linear;
}

.logo img {
  height: 40px;
  width: auto;
  display: block;
  filter: brightness(10%);
  transition: all 250ms linear;
}

body.dark .logo img {
  filter: brightness(100%);
}









@import url("https://fonts.googleapis.com/css?family=Faustina|Special+Elite");

body {
  font-family: verdana;
}
.IITIevents{
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.IITI {
  background-image: url(/photos/2a.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.IITIwhat{
  background-image: url(/photos/WhatsApp\ Image\ 2021-08-06\ at\ 4.11.28\ PM\ \(1\).jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 200px;
  color: rgb(12, 12, 12);
}
.IITIPA{
  background-image: url(/photos/crumpled-2537807_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.IITIgallery{

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
.evheading {
  text-align: center;
  padding-top: 40px  ;
  padding-bottom: 40px;
  color: rgb(248, 246, 246);
  
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

#more {display: none;}
#more1 {display: none;}
#more2 {display: none;}
#more3 {display: none;}
#more4 {display: none;}

/* Basic styling and positioning of elements */

#some-box {background:#fff;padding:40px 0px 80px;font-family:'Open Sans', sans-serif;}
#some-box h1 {text-align:center;}
#some-box h3 {font-size:26px;}
#some-box a {color:#70BCB8;text-decoration:none;display:block;font-weight:bold;}
#some-box a:hover {color:#8E7BB2;}

article.row {width:100%;max-width:1000px;margin:0 auto;padding:45px 0;}
article.row div {width:49.4%;display:inline-block;position:relative;}

/**** For your reference ****/
article.row {border:1px solid #000;}
article.row:hover {border:1px dashed black;}
article.row div:hover {border:1px solid white ;}
/* Your divs won't expand to contain absolute positioned images */


#idea-one img, #idea-two img, #idea-three img {
  position:absolute;
  bottom:-20px;
  top: 0;
  left: 0;
  right: -20px;
  width: 493px;
  height: 238.98px;
}

/* Here's the column repositioning magic. This media query says "Apply these styles only until page width is greater than 750px" 

***To make this work, your media query has to be beneath your other styles to keep it from being overwritten later on by your general styles*** */
@media(max-width:750px){

  /* This resizes the divs that contain your content to fill the width of the page so that they stack vertically */
  article.row div {min-width:300px;width:90%;margin:0 5%;text-align:center;display:block;}
  
  /* Center your text */
	#some-other-box h3 {text-align:center;}

  /* Center your image */
	#idea-one img, #idea-two img, #idea-three img {
    position:relative;
    margin:auto;
    left:inherit;
    bottom:inherit;
  }

  /* This tells the browswer to stack the content vertically */
  #idea-two {display:-webkit-box;display:-moz-box;display:box;-webkit-box-orient:vertical;-moz-box-orient:vertical;box-orient:vertical;}
  
  /* This tells the browswer to draw the first box (div:first-of-type) within our stacked content block (identified in the previous rule) in the second position ([...]box-ordinal-group:2;)
  This gives us a nice arrangement of alternating text and images, and allows us two have a custom layout for smaller or wider screens.*/
	#idea-two div:first-of-type {-webkit-box-ordinal-group:2;-moz-box-ordinal-group:2;box-ordinal-group:2;}
}







.hover_wrap {
  display: flex;
  background-image: url(/Photos/andrew-neel-cckf4TsHAuw-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;

}
#explorelements{
  width: 100%;
}
 


.hover_wrap figure  {
  width: 400px;
  height: 300px;
  margin-bottom: 100px;
  
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background: rgb(38, 42, 43);
  border-radius: 4px;
}

.hover_wrap figure img {
  width: 100%;

  display: block;
  transition: all .3s ease;
  border-radius: 0px;
}

.hover_wrap figure figcaption {
  position: absolute;
  left: 50%;
  top: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all .3s ease;
  background: rgb(6, 36, 44);
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.hover_wrap figure figcaption strong {
  color: #fff;
  z-index: 20;
  font-size: 16px;
  text-transform: uppercase;
}


.hover_wrap figure:hover img {
  opacity: 0.1;
}

.hover_wrap figure.hover1 figcaption {
  transform: translate(150%, -50%) rotate(360deg)
}

.hover_wrap figure.hover2 figcaption {
  transform: translate(-250%, -50%) rotate(-360deg)
}
.hover_wrap figure.hover3 figcaption {
  transform: translate(150%, -50%) rotate(360deg)
}
.hover_wrap figure.hover4 figcaption {
  transform: translate(-250%, -50%) rotate(-360deg)
}
.hover_wrap figure.hover5 figcaption {
  transform: translate(150%, -50%) rotate(360deg)
}

.hover_wrap figure:hover figcaption {
  transform: translate(-50%, -50%)
}

/*
  .hover_wrap figure.hover1 figcaption{transform: translateX(80%) rotate(360deg)}
  .hover_wrap figure.hover2 figcaption{transform: translateX(-80%) rotate(-360deg)}
  .hover_wrap figure:hover figcaption{transform: translateX(0)}
  */
@media(max-width:800px) {
  .hover_wrap {
    flex-direction: column;
  }
}




* {
  box-sizing: border-box
}

body {
  font-family: "Lato", sans-serif;
}

/* Style the tab */
.tab {
  float: left;
  margin-left: 10%;
  border: 1px solid rgb(8, 8, 8);
  background-color: #fff;
  width: 30%;
  height: 300px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: #000;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color:rgb(0, 0, 0);
}

/* Create an active/current "tab button" class */
.tab button.active {
  background: rgb(0,65,110);
background: linear-gradient(90deg, rgba(0,65,110,1) 14%, rgba(8,102,213,1) 43%, rgba(76,194,246,1) 71%, rgba(0,127,193,1) 98%);
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  color: #000;
  width: 50%;
  border-left: none;
  height: 400px;
  display: none;
}



/* Clear floats after the tab */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.conto{
  text-align: justify;
  width: 70%;
  font-size: 1.3em;
  color: #fff;
  font-family: sans-serif;
}
.heado{
  font-size: 1.8em;
  font-weight: bolder;
  width: 50%;
  color: #fff;
}
.imago{
  width: 300px;
  height: 250px;
 

}
@media (min-width:483 px) {
  .imago{
    width: 180px;
  }
}
/*--------------------------------------------------------------
# General   coursel below
--------------------------------------------------------------*/
#slidy-container { 
  width: 400px; overflow: hidden; margin: 0 auto;
  height: 400px;
}

  /* my stuff below ------------------------------------------------------------------------------------
  ---------------------------------------------------------------*/
  .videoback{
    position: relative; 
    background-size: cover;
    background-position: center center;
    top: 0; 
    background-repeat: no-repeat;
    transform-origin:center center;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
    
    
  }
  @media (min-aspect-ratio: 16/9) {
    .videoback {
        width:100%;
        height: auto;
    }
}
  @media (max-aspect-ratio: 16/9) {
    .videoback { 
        width:auto;
        height: 100%;
    }
}



a {
  color: #34b7a7;
  text-decoration: none;
}

a:hover {
  color: #51cdbe;
  text-decoration: none;
}



#main {
  margin-top: 50px;
}

@media (max-width: 992px) {
  #main {
    margin-top: 30px;
  }
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #34b7a7;
  border-top-color: #dcf5f2;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}





/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

/* footer */
ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
background: #151414;
position: relative;
}
.footer-cta {
border-bottom: 1px solid #373636;
}
.single-cta i {
color: #34b7a7;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 50px;
display: block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #e2e2e2;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo img {
  padding-left: 30px;
  width: 40%;
  max-width: 100%;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
    color: #e2e2e2;
line-height: 28px;
}
.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.facebookf{
background: #3B5998;
}
.twitterf{
background: #55ACEE;
}
.linkedinf{
background: #DD4B39;
}
.instagramf{
  background: #f34fbc; 
}
.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: white ;
}
.footer-widget ul li {
display: inline-block;
float: left;
width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: #115c7a;
}
.footer-widget ul li a {
color: #878787;
text-transform: capitalize;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #2E2E2E;
border: 1px solid #2E2E2E;
color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #34b7a7;
  padding: 13px 20px;
  border: 1px solid #34b7a7;
  top: 0;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: #202020;
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #878787;
}
.copyright-text p a{
color: #34b7a7;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: #34b7a7;
}
.footer-menu li a {
font-size: 14px;
color: #878787;
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
