.tittle{
  text-align: center;
  margin-top: 15px ;
  font-size: 2em;
 


}
h1{
  font-family: 'Droid Sans', sans-serif;
}
p{
  font-family: serif;
}
hr{
  border: dotted  #a9adad 6px;
  border-bottom: none;
  width: 4%;
  margin: 150px auto 0 auto;
}

/* name of alumini above*/

.topnav {
  overflow: hidden;
  background-color: rgb(8, 8, 8);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: hsl(187, 86%, 53%);
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*---nav bar above*/
.container_type {
  display: flex;
  align-items: center;
  background-image: url(/static/blurr\ team.png);
 background-repeat: no-repeat;
 background-size:100% 600px;   
  width: 100%;
  height: 400px;
}
 .typewriter {
  font-family: sans-serif;
  color: #fff;
 justify-content: center;
  display: block;
 
  font-weight: bolder;
 
}
.typewriter-text {
  padding-right: 10px;
  color: rgb(29, 168, 223);
  border-right: solid rgb(28, 166, 221) 7px;
  text-transform: uppercase;
  animation: cursor 1s ease-in-out infinite;
  font-weight: bold;
  justify-content: center;
  
}
@keyframes cursor {
  from { border-color: #ffe509; }
  to { border-color: transparent; }
}
 @media (max-width: 767.98px) {
  .typewriter { font-size: 35px; }
}
@media (min-width: 768px) {
  .typewriter { font-size: 60px; }
}








/* ----timeline above */
.teamnopic{
  display: flex;
 margin-top: 50px;
 
 justify-content: center;
}


/*----*/
  
  .news-alerts {
    width: 100%;
    height: 300px;
    padding: 5px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #ccc;
    font-family: "Archivo", sans-serif;
  }
  
  .news-alerts ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  .news-alerts ul li {
    padding: 10px 0px;
  }
  
  .news-alerts ul li a {
    color: rgb(4, 74, 114);
    text-decoration: none;
  }
  
  .news-alerts ul li a:hover {
    color: rgb(3, 77, 119);
    text-decoration: underline;
  }
  /*--------*/
.twoinrow{
   margin-left:123px;
   margin-right:61px;
}
.text-center{
    padding-top: 100px;
    padding-bottom: 0px;
}


.box6{
    margin-left: 50px;
    margin-top: 100px;
    width: 200px;
    height: 240px;
    background:rgb(2, 69, 100);
    position:relative
}
.box6:after{
    background:rgba(2, 68, 99, 0.7);
    
    position:absolute;
    top:0;
    left:-30%;
    bottom:0;
    right:70%;
    transform:skew(20deg) translateX(-75%)
}
.box6:hover:after{
    transform:skew(20deg) translateX(0)
}
.box6 img{
    width:100%;
    height:100%;
    
  filter: drop-shadow(0 0 0.75rem rgb(1, 60, 94));
}
.box6:hover img{
    opacity:.5;
    border-radius: 10%;
}
.box6 .box-content{
    padding:20px;
    text-align:right;
    position:absolute;
    top:0;
    right:0;
    z-index:1
}
.box6 .icon,.box7 .icon{
    padding:0;
    list-style:none
}
.box10 .icon li a,.box11,.box12,.box13,.box14,.box6 .icon li a,.box7,.box7 .icon li a,.box8,.box8 .icon li a{
    text-align:center
}
.box6 .title{
    font-size:20px;
    font-weight:900;
    color:#fff;
    margin:0 0 10px;
    transform:scale(0)
}
.box6:hover .title{
    transform:scale(1)
}
.box6 .icon li,.box6 .post{
    opacity:0;transform:translateX(40px);
    transition:all .35s ease 0s
}
.box6 .post{
    display:block;
    font-size:14px;
    color:#fff;
    margin-bottom:5px
}
.box6 .icon{
    display:inline-block;
    margin:0
}
.box6:hover .icon li,.box6:hover .post{
    opacity:1;
    transform:translateX(0)
}
.box6:hover .icon li:first-child{
    transition-delay:.1s
}
.box6:hover .icon li:nth-child(2){
    transition-delay:.2s
}
.box6 .icon li a{
    display:block;
    width:35px;
    height:35px;
    line-height:35px;
    background:#fff;
    font-size:18px;
    color:#32515f;
    margin-bottom:5px;
    transition:all .35s ease}
.box6 .icon li a:hover{
    background:#32515f;
    color:#fff
}

@media only screen and (max-width:990px){
    .box6{
        margin-bottom:30px
    }
}