<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu|Roboto'>
    <link href="{{url_for('static',filename='blog1.css')}}" rel="stylesheet">
   
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    
      
      <header id="page-title" class="jumbotron background">
        <div id="title-image" class="bg">
          <img src="/static/blog2.jpg" alt="">
        </div>
        <div class="container">
          <div class="horizontal-center vertical-center">
            <h1 class="article-title">Pierre Omidyar</h1>
            <h2 class="article-subtitle"> Entrepreneurial Success Story</h2>
          </div>
        </div>
      </header>
      
      <div class="container foreground">
        <div class="row">
          <div class="col-lg-12">
            <div class="bs-component">
              <article>
                <p>
               <strong> In 1995, Pierre Omidyar, a computer programmer started auctioning off stuff on his personal website. AuctionWeb, as it was then known, was really just a personal project, but, when the amount of web traffic made it necessary to upgrade to a business Internet account, Omidyar had to start charging people fees. He actually hired his first employee to handle all the payment checks. The site is now known as eBay.  </strong> 
               <br><br><italic>“When I started eBay, it was a hobby, an experiment to see if people could use the Internet to be empowered through access to an efficient market. I actually wasn’t thinking about it in terms of social impact” – Pierre Omidyar
                   
            </italic> <br> <br> <img src="/static/blog22.PNG" style="margin-left: 40%; width: 200px; height: 200px;">
            <br> <br> Full story: <br>
            His journey as an entrepreneur started when he wrote a program for Apple Macintosh programmers for managing its memory. He asked the users to pay online as an honour. Although the amount he received was too less to be mentioned.
             <br>

             In the year 1995, when Omidyar turned 28, he started writing Computer code for an online platform, which enabled direct communication among different persons for auctioning various collectables. He named this online service as Auction Web.
             <br>
             He never guaranteed about the items that were sold, nor did he take any responsibility to settle any disputes. All he did was, created an online platform where buyers and sellers could interact for auctioning their items. Soon it gained huge popularity and by 1996 it started selling online air tickets. It hosted around 250,000 auctions and by the end of the year it hosted auctioning around 800,000 each day. By 1997, the company changed its name to eBay, influenced by the name “Echo Bay” which was already registered by a Canadian mining company.

<br><br> Soon, eBay turned out to be the most effective and profitable venture. Omidyar unknowingly turned out to be one of the richest online merchandisers, by connecting different individuals with similar interests.








                <div class="horizontal-center">
                  <div class="author">
                    <a href="#">
                      <img src="/static/vishwas raj batham_ecell head.PNG" class="author-image"><span class="author-name">Vishwas Raj</span>
                    </a>
                  </div>
                  <div class="date-published">
                    august 1, 2021
                  </div>
                </div>
              </article>
            </div>
      
            <ul class="pager">
              <li class="previous disabled"><a href="{{url_for('blog1')}}">← Older</a></li>
              <li class="next"><a href="{{url_for('blog3')}}">Newer →</a></li>
            </ul>
      
          </div>
        </div>
      </div>
      
     
      <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
      , initial-scale=1.0">
    
</body>
</html>