<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu|Roboto'>
    <link href="{{url_for('static',filename='blog1.css')}}" rel="stylesheet">
   
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    
      
      <header id="page-title" class="jumbotron background">
        <div id="title-image" class="bg">
          <img src="/static/blog3.PNG" alt="">
        </div>
        <div class="container">
          <div class="horizontal-center vertical-center">
            <h1 class="article-title">Howard Schultz</h1>
            <h2 class="article-subtitle"> Entrepreneurial Success Story</h2>
          </div>
        </div>
      </header>
      
      <div class="container foreground">
        <div class="row">
          <div class="col-lg-12">
            <div class="bs-component">
              <article>
                <p>
               <strong>A trip to Milan gave a young marketer, working for a Seattle coffee bean roaster, an idea for upscale espresso cafes like they have all over Italy. His employer had no interest in owning coffee shops but agreed to finance Schultz’s endeavour. They even sold him their brand name, Starbucks  </strong> 
               <br><br> Full story: <br>
               Schultz began working at the coffeehouse Starbucks in 1982. He later left and opened Il Giornale, a specialty coffeeshop, that merged with Starbucks during the late-1980s. 
             <br>

             Under Schultz, the company established a large network of stores which has influenced coffee culture in Seattle, the U.S., and internationally. Following large-scale distribution deals Starbucks became the largest coffee-house chain in the world. 
             <br>
             Schultz took the company public in 1992 and used a $271 million valuation to double their store count in a series of highly publicized coffee wars. He stepped down as CEO in 2000, succeeded by Orin Smith.











                <div class="horizontal-center">
                  <div class="author">
                    <a href="#">
                      <img src="/static/vishwas raj batham_ecell head.PNG" class="author-image"><span class="author-name">Vishwas Raj</span>
                    </a>
                  </div>
                  <div class="date-published">
                    august 1, 2021
                  </div>
                </div>
              </article>
            </div>
      
            <ul class="pager">
              <li class="previous disabled"><a href="{{url_for('blog2')}}">← Older</a></li>
              <li class="next"><a href="{{url_for('blog4')}}">Newer →</a></li>
            </ul>
      
          </div>
        </div>
      </div>
      
     
      <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
      , initial-scale=1.0">
    
</body>
</html>