body {
    background: #111111;
    font-family: "librebaskerville-regular", serif;
    font-size: 1.6rem;
    line-height: 3rem;
    color: #353535;
    margin: 0;
    padding: 0;
    margin: 0;
    font-weight: 400;
    line-height: 1;
    word-wrap: break-word;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: none;
}
#home{
    width: 100%;
    height: 100%;
    background-color: #151515;
    background-image: url(ex.png);
    background-repeat: no-repeat;
    background-position: center 30%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    min-height: 804px;
    position: relative; 
    
    
}
::after, ::before {
    box-sizing: inherit;
}
::after, ::before {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizeLegibility;
}
.antialiased, body, button, input {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#home .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-color: #19191b;
}
blockquote, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, li, ol, p, pre, td, th, ul {
    margin: 0;
    padding: 0;
}
.home-content-table {
    width: 100%;
    height: 100%;
    display: table;
    position: relative;
    text-align: center;
}
blockquote, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, li, ol, p, pre, td, th, ul {
    margin: 0;
    padding: 0;
}
.home-content-tablecell {
    display: table-cell;
    vertical-align: middle;
    z-index: 500;
}
.home-content-tablecell .row {
    max-width: 600px;
}
.home-content-tablecell .row {
    position: relative;
    padding-top: 16.2rem;
    padding-bottom: 15rem;
}
@media screen and (max-width: 768px)
.row {
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.row {
    width: 94%;
    max-width: 1170px;
    margin: 0 auto;
}
.group:after, .group:before, .row:after, .row:before, [class*=block-]:after, [class*=block-]:before {
    content: "";
    display: table;
}
*, ::after, ::before {
    box-sizing: inherit;
}
.col-full, .col-twelve {
    width: 100%;
}
